// VARIABLES
@lightBlue: #4286f4;
@red: #d30000;

// MIXINS
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes stretchIn {
  from {font-size: 50pt;}
  to {font-size: 42pt;}
}
@keyframes buttonColor {
  to {color: @lightBlue;}
}

//-------------------------------------------------------
html,body{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 16pt;
  background: black;
}
h1 {
  font-family: 'Caesar Dressing', cursive;
  color: @lightBlue;
  font-size: 48pt;
  margin: 0;
}
a {
  text-decoration: none;
}
.container{
  background: black;
}

//-----IMAGE------

  .mainImage {
    background: url('image04.jpg') no-repeat fixed top;
    width: 100%;
    height: 700px;
    background-size: cover;
    text-align: center;
    box-shadow: 5px -26px 17px 31px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-flow: column;

    .bigTitle, .decorBorder{
      font-size: 90pt;
      animation-name: fadeIn;
      animation-duration: 1.5s;
    }

    .bigTitle{
      margin: auto 0 0 0;
    }

    .decorBorder {
      border-bottom: 4px solid white;
      width: 50%;
      margin: 0;
      left: 25%;
    }

    .subTitle {
      font-size: 42pt;
      color: white;
      margin: 0 0 auto 0;
      animation-name: stretchIn;
      animation-duration: 1.5s;
    }
  }
  #indexIMG{
    background-image: url('image04.jpg');
  }
  #about-usIMG{
    background: url('image06.jpg') no-repeat fixed center -500px;
    background-size: cover;
    height: 600px;
  }
  #our-menuIMG{
    background-image: url('image');
  }
//--------TOP NAVIGATION BAR-----

.navBar{
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  font-size: 18px;
  top: 0;

  .headerImage{
    height: 100px;
    width: 100px;
    background-image: url(../logo.png);
    background-size: cover;
  }

  .navButtons{
    margin-right: 4%;
    .barLink{
      margin: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 5px 8px 5px 8px;
      text-decoration: none;
      color: white;
      &:hover{
        color: @lightBlue;
      }
      &:active{
        background-color: white;
        color: gray;
      }
    }
    .active {
      background-color: white;
      color: rgba(0,0,0,0.7);
    }
  }
}

//-------BOTTOM CONTENT------

.content{
  background-color: white;
  display: flex;
  justify-content: center;
  //width: 100%;
  padding: 50px;
  vertical-align: center;

  .leftContent{
    margin: 0 0 50px 50px;
    text-align: center;
    }
  }
  .rightContent{
    text-align: center;
    margin: 0 0 50px 50px;
    vertical-align: center;
  }
.fa-facebook, .fa-yelp {
  font-size: 25pt;
  margin: 10px;
  color: black;
}
.fa-facebook{
  &:hover {
    color: @lightBlue;
  }
}
.fa-yelp{
  &:hover {
    color: @red;
  }
}


//------FOOTER-----------

.footer p{
  background: black;
  bottom: 0;
  position: relative;
  color: gray;
  text-align: center;
  font-size: 14pt;
}